* {
    box-sizing: border-box;
    border-collapse: collapse;
}

.game-container {
    margin: auto;
    margin-top: 200px;
    background-color: grey;
    text-align: center;
    border: 3px solid black;
    width: 200px;

}
.disabled {
    pointer-events: none;
}

.top-container {
    border: 3px solid black;
    padding: 5px;
    border: 3px solid black;
}
.counter {
    display: inline-block;
    background-color: transparent;
    color: whitesmoke;
}

/* .counter#time-counter {
} */

.reset-btn {
    background-color: transparent;
}

table {
    table-layout: fixed;
    border: 3px solid black;
    width: 100%;
}

.cell {
    opacity: 1;
    border: 3px solid black;
}
.cell:hover {
    cursor: pointer;
}

.hide-cell {
    opacity: 0;
    
}

footer {
    padding: 3px;
}
footer button{
    text-align: center;
}


